<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 등록</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"></link>
</head>
<body>
	<div class="container">
		<h2>사용자 등록</h2>
		<form id="frm" name="frm" method="post">
			<table class="user_detail">
				<tr>
					<td>이 름:</td>
        			<td><input type="text"> </td>
				</tr>
				<tr>
					<td>아매일:</td>
        			<td><input type="text"> </td>
				</tr>
				<tr align="center">
			        <td colspan="2">
			           <input type="submit" value="등록">
			           <input type="reset" value="취소">
			        </td>       
		      	</tr>
			</table>
		</form>
	</div>
</body>
</html>