<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 등록</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
	<div class="container">
		<h2>사용자 등록</h2>
		<form id="frm" name="frm" method="post" th:action="@{/user}">
			<table class="user_detail">
				<tr>
					<td>이 름:</td>
        			<td><input type="text" id="name" name="name"></td>
				</tr>
				<tr>
					<td>이 메 일:</td>
        			<td><input type="text" id="email" name="email"></td>
				</tr>
				<tr align="center">
			        <td colspan="2">
			           <input type="submit" id="btnRgtr" value="등록">
			           <input type="reset" value="취소">
			        </td>       
		      	</tr>
			</table>
		</form>
	</div>
</body>
</html>
